<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Flask App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Welcome to My Simple Flask App</h1>
    <input type="text" id="name" placeholder="Enter your name">
    <button onclick="sendData()">Submit</button>
    <p id="responseMessage"></p>
    <script src="{{ url_for('static', filename='schedule.js') }}"></script>
</body>
</html>
