<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vite App</title>
    <script
      type="module"
      crossorigin
      src="{{ url_for('static', filename='index.js') }}"
    ></script>
    <link
      rel="stylesheet"
      crossorigin
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link
      rel="stylesheet"
      crossorigin
      href="{{ url_for('static', filename='mystyle.css') }}"
    />
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
